- name: ensure upstart script for bots app is in place
  template:
    src: bots.conf
    dest: /etc/init

- name: check if deployment dir exists
  stat:
    path: "{{site_path}}"
  register: site_path_check

- name: start app
  service:
    name: bots
    state: restarted
  when: site_path_check.stat.exists
